# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Hydra logs
outputs/

# logger (e.g. Tensorboard, wandb)
logs/
*.err
*.out

# checkpoint
checkpoints/
export/
**.onnx

# PyTorch Profiler
profiler/

# Django stuff:
*.log
*.docx

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IPython
profile_default/
ipython_config.py

# Figures
*.png